{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="registration-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12"></div>
                <div class="col-lg-1 col-md-1 col-sm-12"></div>
                <div class="col-lg-2 col-md-2 col-sm-12 reg-log-form">
                    <h1>eclipse</h1>
                    <h3>Registration</h3>
                        {{ form_start(registrationForm) }}
                        {{ form_end(registrationForm) }}
                    <div class="reg-log-form-question mb-2">You already have account ? <a class="mb-2" href="{{ path('app_login') }}">Log in!</a></div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-12"></div>
                <div class="col-lg-4 col-md-4 col-sm-12"></div>
            </div>
        </div>
    </div>
{% endblock %}
