{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="reg-log-form">
            <form method="post" action="{{ path('check_verification') }}">
                <input type="hidden" name="userId" value="{{ userId }}">
                <h1>eclipse</h1>
                <h5>The verification code is sent to your email</h5>
                <h5>Please enter that code in below and click verify</h5>
                <input name="verify_code_input" type="text" placeholder="verification code" class="reg-log-form-fields form-control"><br>
                <button class="btn btn-outline-dark btn-lg mb-2 w-25" value="Verify" type="submit">Verify</button>
            </form>
        </div>
    </div>
{% endblock %}
