{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <a href="{{ path('show_my_account', {accountAlias: current_user.accountAlias}) }}">My profile</a>
    </div>
{% endblock %}
