body {
    background-image: url("http://starkovtattoo.spb.ru/images/100/DSC100163876.jpg");
}
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* Registration form  */
.reg-log-form {
    margin-top: 6%;
    border-radius: 5%;
    border: 2px solid #696b69;
    text-align: center;
    height: auto;
    width: 400px;
    background-color: rgba(130, 130, 130, 0.5);
}
.reg-log-form input{
    margin: 0 0 15px;
}
.reg-log-form select{
    margin: 0 0 15px;
}
.reg-log-form ul{
    padding: 0;
    width: 100%;
}
.reg-log-form li{
    font-size: 16px;
    list-style-type: none;
    color: white;
    background-color: rgba(226, 106, 106, 0.5);
    border: 1px solid red;
    padding: 1px;
}
.reg-log-form h1 {
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 3px darkblue;
    padding: 7%;
}
.reg-log-form h3, h5 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 3px darkblue;
    /*padding: 10%;*/
}
.reg-log-form a {
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.reg-log-form label {
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.reg-log-form button {
    color: white;
    background-color: black;
}
.reg-log-form button:hover {
    color: black;
    background-color: white;
}
.reg-log-form-fields {
    margin: 5px 5px 20px;
    width: 100%;
}
.date-form-control {
    margin: 0;
}
.date-form-control select{
    width: 32%;
    /*display: block;*/
    padding: 3px 5px;
    margin: 2px 2px 7%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.reg-log-form-question {
    font-size: 16px;
    color: white;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}
.container {
    background-color: white;
}
.sideGallery {
    margin-top: 20px;
}
.profileImage {
    width: 180px;
    height: 180px;
    border: 2px solid red;
}
.profileImage:hover {
    background-color: rgba(176, 176, 176, 0.5)
}
.postAndComment {
    width: 80%;
    position: relative;
    left: 10%;
    right: 10%;
    margin-bottom: 40px;
}
.comments {
    border: 2px solid grey;
    font-size: 14px;
}
.comments em {
    color: grey;
}
.commentInputField {
    width: 100%;
}
.commentButton {
    border-top: none;
    background-color: white;
}
.postText {
    display: flex;
    border: 1px solid black;
}
.postText p {
    overflow: hidden;
    padding: 10px;
    width: 100%;
}
.newPost {
    margin: 30px 10%;
}
.newPost button{
    margin: 5px 0 4px 4px;
    float: right;
}
/** Upload images button */
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

/*.uploadImageBtn {*/
/*    border: 2px solid ;*/
/*    color: gray;*/
/*    background-color: white;*/
/*    padding: 8px 20px;*/
/*    border-radius: 8px;*/
/*    font-size: 16px;*/
/*    font-weight: bold;*/
/*    width: 60px;*/
/*    height: auto;*/
/*}*/

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}


